<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="chat1 animate__animated animate__zoomIn animate__fater"><div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ul class="contacts">
                    <li class="active">
                        <div class="d-flex bd-highlight conversation-box" routerLink="/chatChild">
                            <div class="img_cont">
                                <img src="../../../assets/images/guy1.png" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Betinho Prado</span>
                                <p>Betinho está online</p>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="../../../assets/images/girl10.png" class="rounded-circle user_img">
                                <span class="online_icon offline"></span>
                            </div>
                            <div class="user_info">
                                <span>Adriana Pagliaro</span>
                                <p>Adriana saiu 7 mins atrás</p>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="../../../assets/images/guy3.png" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Lucas Nomelini</span>
                                <p>Lucas está online</p>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="../../../assets/images/guy4.png" class="rounded-circle user_img">
                                <span class="online_icon offline"></span>
                            </div>
                            <div class="user_info">
                                <span>Marcos Alexandre</span>
                                <p>Marcos saiu 7 mins atrás</p>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="../../../assets/images/girl1.png" class="rounded-circle user_img">
                                <span class="online_icon offline"></span>
                            </div>
                            <div class="user_info">
                                <span>Rashid Samim</span>
                                <p>Rashid left 50 mins ago</p>
                            </div>
                        </div>
                    </li>
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>            
        </div>
    </div>
</body>

