<head>
    <meta charset="utf-8" />
    <title>Tela de Bem Vindo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet" />
    <script type="text/javascript" src="bem-vindo.component.js"></script>
    <base href="/">
</head>

<body class="text-center">
    <div class="container animate__animated animate__jackInTheBox">
        <div class="black-box">
        </div>
        <h1 id="bemvindo-msg">Seja bem vindo!</h1>
        <div class="logo-text"> <h1>PORTAL</h1><h1>GEEK</h1>  </div>
    </div>  
    <div class="btn-group animate__animated animate__fadeInUp" role="group" aria-label="Large button group">
        <button type="button" class="btn neonbutton btn-outline-dark" routerLink="login">
            Entrar
        </button>
        <button type="button" class="btn neonbutton btn-outline-dark" routerLink="register">
            Cadastre-se
        </button>
    </div>
    
</body>