.container {
    height: 600px;
    width: 350px;
    padding: 170px 0 0 0 ;
    font-family: 'Kanit';
    position: relative;
    z-index: 0;
}

.black-box {
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 85%;
    position: absolute;
    top: 130px;
    
    z-index: -1;
    
    border-radius: 15px;
}

body {
    background-image: url(../../../assets/images/backgrounds/6d411c4be57f2683584635b73173ecb5.jpg);
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
    
}

.logo {
    background-color: #FB3640;
    border-radius: 100px;
    border-style: groove;
    border-color: black;
    width: 200px;
    height: 200px;
    margin-top: 50px;
}

.text-center {
    background-color: #121212;
    color: #ffffff;
}

.fw-normal {
    font-family: 'Kanit';
    font-size: 30px;
    color: #ffffff;
}

.btn-group {
    border-radius: 100px;
    font-family: 'Kanit';
    background: linear-gradient(0deg, rgb(53, 9, 19), rgba(230, 25, 66, 0.9))
    
}

.btn {
    color: #ffffff;
    border-radius: 100px;
    width: 130px;    
    font-family: 'Kanit';
    font-size: 15px;
    transition: background-color 1.0s;
    border: 3px solid rgb(32, 26, 26);
}

.btn:hover {
    background: linear-gradient(0deg, rgba(45, 6, 56, 0.9),rgb(171, 44, 245));
    transition: background-color 5,0s;
    border: 3px solid white;
}

