body {
    background-image: url('./../../../../assets/images/backgrounds/outrun-neon-dark-background-purple-586x855.jpg');
    border-radius: 15px;

    background-size: 487px 855px;
    height: 855px;  

    margin-top: -59px;
}