<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,800&display=swap"
        rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

</head>

<body>


    <div class="wrapper">
        <nav>
            <input type="radio" name="tab" id="comment" >
            <input type="radio" name="tab" id="glass">
            <input type="radio" name="tab" id="home" checked>
            <input type="radio" name="tab" id="cubes">
            <input type="radio" name="tab" id="gear">
            <label for="comment" class="comment"><a href="#"><i class="fa fa-comment"></i></a></label>
            <label for="glass" class="glass"><a href="#"><i class="fa fa-gamepad"></i></a></label>
            <label for="home" class="home"><a href="#"><i class="fa fa-home"></i></a></label>
            <label for="cubes" class="cubes"><a href="#"><i class="fa fa-users"></i></a></label>
            <label for="gear" class="gear"><a href="#"><i class="fa fa-gear"></i></a></label>
            <div class="tab">
            </div>
        </nav>
    </div>
    <!-- ------ FIM MENU ------ -->

    <!-- ------ INICIO PROFILE ------ -->
    <div class="profile-box">

        <span class="nova-atividade">
            <p>Nova Atividade</p>
            <i class="fa fa-plus-circle"></i>
        </span>
        
    </div>

    <div class="container">
    <!-- ------ INICIO ATIVIDADES  ------ -->

        <div class="container-atividades">
            <div class="full-card">
                <div class="photo-border-L">
                    <div class="photo-perfil-L">
                        <img src="../../../assets/images/guy6.png" alt="">
                    </div>
                </div>

                <div class="baloon-icon-L">
                    <img src="../../../assets/images/league_of_legends_macos_bigsur_icon_190030.png" alt="">
                </div>

                <div class="baloon-title-L">
                    Edilberto está Jogando - League of Legends
                </div>

                <div class="baloon-text-L">
                    Está dificil subir... Alguém afim de DUO???
                </div>
            </div>

            <div class="full-card-R">
                <div class="photo-border-R">
                    <div class="photo-perfil-R">
                        <img src="../../../assets/images/guy6.png" alt="">
                    </div>
                </div>

                <div class="baloon-icon-R">
                    <img src="../../../assets/images/league_of_legends_macos_bigsur_icon_190030.png" alt="">
                </div>

                <div class="baloon-title-R">
                    Edilberto está Jogando - League of Legends
                </div>

                <div class="baloon-text-R">
                    Está dificil subir... Alguém afim de DUO???
                </div>
            </div>

            <div class="full-card">
                <div class="photo-border-L">
                    <div class="photo-perfil-L">
                        <img src="../../../assets/images/guy6.png" alt="">
                    </div>
                </div>

                <div class="baloon-icon-L">
                    <img src="../../../assets/images/league_of_legends_macos_bigsur_icon_190030.png" alt="">
                </div>

                <div class="baloon-title-L">
                    Edilberto está Jogando - League of Legends
                </div>

                <div class="baloon-text-L">
                    Está dificil subir... Alguém afim de DUO???
                </div>
            </div>

            <div class="full-card-R">
                <div class="photo-border-R">
                    <div class="photo-perfil-R">
                        <img src="../../../assets/images/guy6.png" alt="">
                    </div>
                </div>

                <div class="baloon-icon-R">
                    <img src="../../../assets/images/league_of_legends_macos_bigsur_icon_190030.png" alt="">
                </div>

                <div class="baloon-title-R">
                    Edilberto está Jogando - League of Legends
                </div>

                <div class="baloon-text-R">
                    Está dificil subir... Alguém afim de DUO???
                </div>
            </div>

        </div>

    </div> <!-- CONTAINER -->



</body>