body,
html {
    height: 1000px;
    margin: 0;
    scroll-behavior: smooth;
    background-image: url('../../../assets/images/backgrounds/outrun-neon-dark-background-purple-586x855.jpg');
    background-size: cover
    ;

}

nav {
    height: 70px;
    background: rgba(0, 0, 0, 0);
}

nav>svg {
    color: #D9D9D9;
    font-size: 15px;
}

.container {
    height: 600px;
    width: 350px;    
    margin: auto;
    font-family: 'Kanit';
    scroll-behavior: smooth;
}

/* kkkkk */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

.wrapper {
    position: relative;
    margin-top: -68px;
    height: 60px;
    width: 100%;
    background: rgb(43, 0, 53);
    line-height: 60px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 149, 255, 0.463);
}

.wrapper nav {
    position: relative;
    display: flex;
}

.wrapper nav label {
    flex: 1;
    width: 50%;
    z-index: 1;
    cursor: pointer;
}

.wrapper nav label a {
    position: relative;
    z-index: -1;
    color: linear-gradient(45deg, #00b7ff 0%, #fd03cb 100%);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.6s ease;
}

.wrapper nav #comment:checked~label.comment a,
.wrapper nav #glass:checked~label.glass a,
.wrapper nav #home:checked~label.home a,
.wrapper nav #cubes:checked~label.cubes a,
.wrapper nav #gear:checked~label.gear a 
{
    color: rgb(255, 255, 255);
    
}

.wrapper nav label a i {
    font-size: 35px;
    margin: 12px 0px 0px 0px;
}


.wrapper nav .tab {
    position: absolute;
    height: 65px;
    width: 13%;
    margin-left: 19px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, #1920ea 0%, #fd03cb 100%);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper nav #comment:checked~.tab {
    left: 1%;
}

.wrapper nav #glass:checked~.tab {
    left: 20%;
}

.wrapper nav #home:checked~.tab {
    left: 40%;
}

.wrapper nav #cubes:checked~.tab {
    left: 60%;
}

.wrapper nav #gear:checked~.tab {
    left: 80%;
}

.wrapper nav input {
    display: none;
}

 /* ----- MENU - END ----- */

/* PERFIL - START */

.profile-box {
    position: absolute;
    top: 100px;
    width: 500px;
    height: 280px;
    background-color: rgba(3, 113, 1, 0.471);

    border-radius: 15px;
}

.nova-atividade {
    position: absolute;
    display: flex;
    border: solid 3px #003950;
    width: 160px;
    padding: 5px 0px 5px 5px;
    bottom: 10px;
    left: 175px;

    border-radius: 20px;

    color: #fff;
    background: linear-gradient(45deg, #fd03cb 0%, #1920ea  100%);    
    box-shadow: 0 0px 35px rgba(0, 149, 255, 0.718);
}

.nova-atividade i {
    font-size: 150%;
    color:  #ffffff;

    margin-left: 10px;
    
}



/* PERFIL - END */

/* --- Atividades - START --- */

.container-atividades {
    position: absolute;    
    top: 380px;
}

.full-card {
    position: relative;
    width: 400px;
    height: 65px;
    background-color: rgba(46, 46, 46, 0.705);    
    right: 0px;
    border-radius: 20px;
    margin: 45px 0px;
}

.full-card .photo-border-L {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    left:-85px;
    top:-10px;
}

.full-card .photo-perfil-L img {
    border-radius: 50px;
    position: relative;
    margin: 12px 5px 5px 5px;
    width: 75px;
    height: 75px;
}

.full-card .baloon-icon-L img {    
    border-radius: 100px;
    right: 2px;
    bottom: 0px;
    position: absolute;
    width: 65px;
    height: 65px;
}

.baloon-title-L {
    position: absolute;
    border-radius: 50px;
    height: 30px;
    width:auto;
    top: -12px;

    color: rgb(240, 168, 253);
    background-color: rgba(0, 0, 0, 0.852);    
}

.baloon-text-L {
    color: #fff;
    position: absolute;
    bottom: 30%;
    left: 10px
}

/* ------ Right Baloons ------- */

.full-card-R {
    position: relative;
    width: 400px;
    height: 65px;
    background-color: rgba(46, 46, 46, 0.705);    
    left: -75px;
    border-radius: 20px;
    margin: 45px 0px;
}


.full-card-R  .photo-border-R {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    right:-80px;
    top:-10px;
}

.full-card-R  .photo-perfil-R img {
    border-radius: 50px;
    position: relative;
    margin: 12px 5px 5px 5px;
    width: 75px;
    height: 75px;
}

.full-card-R  .baloon-icon-R img {
    border-radius: 100px;
    left: 2px;    
    bottom: 0px;
    position: absolute;
    width: 65px;
    height: 65px;
}

.baloon-title-R {
    position: absolute;
    border-radius: 50px;
    height: 30px;
    width:auto;
    top: -12px;
    right: 0px;

    color: rgb(240, 168, 253);
    background-color: rgba(0, 0, 0, 0.852);   
}

.baloon-text-R {
    color: #fff;
    position: absolute;
    bottom: 30%;
    right: 10px
}