<body>
    <!-- ------ INICIO PROFILE ------ -->
    <div class="top-box chat1 animate__animated animate__zoomIn animate__faster">

        <div class="profile-card">
            <img [src]="imSrc" alt="">
            <span></span>
            <div class="profile-info">
                <span class="name-user">
                    {{nome}}
                </span>
                
                <span class="following-user">
                    Seguindo: 256
                </span>
                <span class="followed-user">
                    Seguidores: 128
                </span>
                <!-- BUTTONS -->
                <div class="friends-box">
                    <i class="fa fa-users"></i> <i class="qt">3</i>
                    
                </div>

                <div class="groups-box">
                    <i class="fa fa-user"></i> <i class="qt">12</i> 
                    
                </div>
                
            </div>

        </div>

        <div class="text-atividades">
            Publique o que você está fazendo ...
            <span class="nova-atividade">             
                <p>Nova Atividade</p>
                <i class="fa fa-plus-circle"></i>
            </span>
        </div>

        
    </div>

    <div class="container">
    <!-- ------ INICIO ATIVIDADES  ------ -->

        <div class="container-atividades chat1 animate__animated animate__zoomIn animate__faster">
            <div class="full-card">
                <div class="photo-border-L">
                    <div class="photo-perfil-L">
                        <img src="../../../assets/images/guy1.png" alt="">
                    </div>
                </div>

                <div class="baloon-icon-L">
                    <img src="../../../assets/images/lolzinho.png" alt="">
                </div>

                <div class="baloon-title-L">
                    Edilberto está Jogando - League of Legends
                </div>

                <div class="baloon-text-L">
                    Estou em ranqueada... Alguém afim de DUO?
                </div>
            </div>

            <div class="full-card-R">
                <div class="photo-border-R">
                    <div class="photo-perfil-R">
                        <img src="../../../assets/images/guy6.png" alt="">
                    </div>
                </div>

                <div class="baloon-icon-R">
                    <img src="../../../assets/images/wowzinhojpeg.jpeg" alt="">
                </div>

                <div class="baloon-title-R">
                    Gustavo está Jogando - World of Warcraft
                </div>

                <div class="baloon-text-R">
                    Essa nova atualização está muito massa!
                </div>
            </div>

            <div class="full-card">
                <div class="photo-border-L">
                    <div class="photo-perfil-L">
                        <img src="../../../assets/images/girl2.png" alt="">
                    </div>
                </div>

                <div class="baloon-icon-L">
                    <img src="../../../assets/images/spotify.png" alt="">
                </div>

                <div class="baloon-title-L">
                    Rúbia está Ouvindo - Linkin Park em Spotify
                </div>

                <div class="baloon-text-L">
                    Galera, vocês ouviram o novo album?
                </div>
            </div>

            <div class="full-card-R">
                <div class="photo-border-R">
                    <div class="photo-perfil-R">
                        <img src="../../../assets/images/guy4.png" alt="">
                    </div>
                </div>

                <div class="baloon-icon-R">
                    <img src="../../../assets/images/Netflix-new-icon.png" alt="">
                </div>

                <div class="baloon-title-R">
                    Zézinho está Assistindo - Jujutsu Kaisen
                </div>

                <div class="baloon-text-R">
                    Já estou viciado nesse anime... Socorro
                </div>
            </div>

        </div>

    </div> <!-- CONTAINER -->



</body>