<body>
    
</body>
<div class="card-container animate__animated animate__faster animate__fadeInUp">
    <div class="upper-container ">
        <div class="image-container">
            <img src="./../../../../assets/images/girl3.jpeg" />

            <div>            
                <h4>Jackie-sama</h4>
            </div>
        </div>
    </div>
    <div class="lower-container">
        <div>
            <strong>Gênero de filme:</strong>
            <p>Ação, Comédia e Romançe</p>

            <strong>Gênero e musica favorita:</strong>
            <p>Pop, Tecno Brega e Funk / The Fray - Heartless</p>

            <strong>Anime e Série:</strong>
            <p>Big Mouth / The OA</p>

            <strong>Super Herói:</strong>
            <p>Aquaman</p>

            <strong>Hobbie:</strong>
            <p>Fazer Academia e Dançar</p>

        </div>
        <div>
            <a class="btn" routerLink="/lay4">Voltar</a>
        </div>
</div>