<body>
    
</body>
<div class="card-container animate__animated animate__faster animate__zoomIn">
    <div class="upper-container ">
        <div class="image-container">
            <img src="./../../../../../assets/images/girl10.png" />

            <div>            
                <h4>Maria Silva</h4>
            </div>
        </div>
    </div>
    <div class="lower-container">
        <div>
            <strong>Gênero de filme:</strong>
            <p>Drama e Romançe</p>

            <strong>Gênero e musica favorita:</strong>
            <p>Pop, Axé / Lady Gaga - Bad Romance</p>

            <strong>Anime e Série:</strong>
            <p>Natsume Yuujinchou, Flapjack / Game of Thrones</p>

            <strong>Hobbie:</strong>
            <p>Ouvir música e ler</p>

        </div>
        <div>
            <a class="btn" routerLink="/lay2">Voltar</a>
        </div>
</div>