<div class="card-container">
    <div class="upper-container">
        <div class="image-container">
            <img src='./../../../../../assets/images/girl2.png'/>
        </div>
    </div>
    <div class="lower-container">
        <div>            
            <h4>Rúbia Carvalho</h4>
        </div>
        <div>
            <p>Procuro pessoas afim de discutir sobre a última temporada de Cavaleiros do Zodíaco. Adoro Pets, Linkin Park e Foo Fighters.
            </p>
        </div>
        <div>
            <a class="btn" routerLink="/profile1">Ver perfil</a>
            <a class="btn" routerLink="/lay2">Próximo Geek</a>
        </div>
        <div class="action-buttons">
            <a class="btn"><i class="fa fa-user-plus"></i></a>
            <a class="btn"><i class="fa fa-comments"></i></a>
            <a class="btn"><i class="fa fa-heart"></i></a>
            <a class="btn"><i class="fa fa-gamepad"></i></a>
            
        </div>
</div>