<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,800&display=swap"
        rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="activities.component.css">
    <title>Tela de atividades</title>
</head>

<body>
    <div class="container">
        <div>
            <img src="../../../assets/images/harry-potter-serie.webp" id="img1" />
            <p id="atividade1">João Silva está assistindo Harry Potter</p>
            <p id="feedback1">Gostando bastante da trilogia,
                estou ansioso para o final</p>
        </div>
        <div>
            <img src="../../../assets/images/league_of_legends_macos_bigsur_icon_190030.png" id="img2" />
            <p id="atividade2">Maria José está jogando League of Legends</p>
            <p id="feedback2">Alguém afim de ir DUO?
                Preciso de um suporte</p>
        </div>
        <div>
            <img src="../../../assets/images/72154e5197d7c65a1df251f83ff8665b.png" id="img1" />
            <p id="atividade1">Rubia está ouvindo Linkin Park - Numb</p>
            <p id="feedback1">Curtindo um pouco...</p>
        </div>
        <div>
            <img src="../../../assets/images/kisspng-deepest-purple-the-very-best-of-deep-purple-logo-pueple-5adbe3b7c67563.5683832615243601198129.jpg"
                id="img2" />
            <p id="atividade2">Dreco está ouvindo Deep Purple - Perfect Strangers</p>
            <p id="feedback2">Um bom e velho Rock ‘n Roll ...</p>
        </div>
        <div>
            <img src="../../../assets/images/png-transparent-daredevil-born-again-kingpin-elektra-marvel-cinematic-universe-daredevil.png"
                id="img1" />
            <p id="atividade1">Edilberto está assistindo Demolidor - Netflix</p>
            <p id="feedback1">Curtindo muito a terceira temporada... ihull</p>
        </div>
        <button id="imgbtn"><img src="../../../assets/images/2022-10-29 14_03_20-Untitled – Figma.png">
            <p>Adicionar atividade</p>
        </button>
    </div>

</body>

</html>