body,
html {
    height: 1000px;
    margin: 0;
    scroll-behavior: smooth;
    background: linear-gradient( #CF4197 10%, #55B3D5 90%) !important;;

}

.container {
    margin-top: 100px;
    height: 600px;
    width: 350px;
    bottom: 50px;
    right: 10px;
    margin: auto;
    font-family: 'Kanit';
    scroll-behavior: smooth;
}

#img1 {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #000;
    margin-left: -50px;
    margin-top: 20px;
}

#atividade1 {
    background-color: #000;
    max-width: max-content;
    color: white;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: -5px;
}

#feedback1 {
    background-color: #D9D9D9;
    border-radius: 10px;
    max-width: max-content;
    margin-top: -15px;
    margin-right: 40px;
}
#img2 {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #000;
    margin-left: 300px;
    margin-top: 20px;
}

#atividade2 {
    background-color: #000;
    max-width: max-content;
    color: white;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: -5px;
}

#feedback2 {
    background-color: #D9D9D9;
    max-width: max-content;
    border-radius: 10px;
    margin-top: -15px;
    margin-right: 40px;
}

#imgbtn {
    margin-top: 10px;
    margin-left: 90px;
}