<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="chat2 animate__animated animate__zoomInDown animate__fat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="../../../assets/images/guy1.png" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Chat com Betinho</span>
                                <p>1767 Messages</p>
                            </div>
                            <div class="video_cam">
                                <span><i class="fas fa-video"></i></span>
                                <span><i class="fa fa-phone"></i></span>
                            </div>
                        </div>                        
                        <span id="back-button" routerLink="/chat"><i class="fa fa-arrow-left"></i>Voltar</span>
                        <div class="action_menu">
                            <ul>
                                <li><i class="fa fa-user-circle"></i> View profile</li>
                                <li><i class="fa fa-users"></i> Add to close friends</li>
                                <li><i class="fa fa-plus"></i> Add to group</li>
                                <li><i class="fa fa-ban"></i> Block</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                Eai Betinho, como vc está?
                                <span class="msg_time_send">20:55, Hoje</span>
                            </div>
                            <div class="img_cont_msg">
                                <img src="../../../assets/images/guy6.png" class="rounded-circle user_img_msg">
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="../../../assets/images/guy1.png" class="rounded-circle user_img_msg">
                            </div>
                            <div class="msg_cotainer">
                                Estou bem, e você? Como estão as coisas?
                                <span class="msg_time">9:00 AM, Today</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                Bem tbm cara, ow!! Bora uma partida de RPG?
                                <span class="msg_time_send">9:05 AM, Today</span>
                            </div>
                            <div class="img_cont_msg">
                                <img src="../../../assets/images/guy6.png" class="rounded-circle user_img_msg">
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="../../../assets/images/guy1.png" class="rounded-circle user_img_msg">
                            </div>
                            <div class="msg_cotainer">
                                Bora! Você vai de Suporte e eu de Atirador, igual ontem?
                                <span class="msg_time">9:07 AM, Today</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                Pode ser, fica esperto com a base inimiga.
                                <span class="msg_time_send">9:10 AM, Today</span>
                            </div>
                            <div class="img_cont_msg">
                                <img src="../../../assets/images/guy6.png" class="rounded-circle user_img_msg">
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="../../../assets/images/guy1.png" class="rounded-circle user_img_msg">
                            </div>
                            <div class="msg_cotainer">
                                Certo, aguardo o convite.
                                <span class="msg_time">9:12 AM, Today</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                Convite enviado, aceita lá!! 
                                <span class="msg_time_send">9:12 AM, Today</span>
                            </div>
                            <div class="img_cont_msg">
                                <img src="../../../assets/images/guy6.png" class="rounded-circle user_img_msg">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fa fa-paperclip"></i></span>
                            </div>
                            <textarea name="" class="form-control type_msg"
                                placeholder="Type your message..."></textarea>
                            <div class="input-group-append">
                                <span class="input-group-text send_btn"><i class="fa fa-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>