.container {
    --light-color: #fff;
    margin-top: 160px;
    padding-top: 90px;
    height: 1000px;
    width: 350px;
    bottom: 50px;
    right: 10px;
    font-family: 'Kanit';
    
    margin: auto;
}

.btn {
    border-radius: 100px;
    width: 150px;
    font-family: 'Kanit';
    color: rgba(255, 255, 255, 0.137);
}

.logo {
    border-radius: 100px;
    border-style: groove;
    border-color: #121212;
    width: 200px;
    height: 200px;
}

.text-center {
    background-color: #121212;
    font-family: 'Kanit';
}

.btn-rg {
    color: #ffffff;
    margin-top: 15px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(136, 24, 51, 0.3), rgb(184, 19, 51, 0.9));
    margin-bottom: 10px;
    border: 3px solid #212529;
}

form .form-icons {
    color: #ffffff;
    text-align: right;
    background: rgb(99, 15, 52);
    background: linear-gradient(90deg, rgba(99, 15, 52, 1) 0%, rgba(141, 17, 52, 1) 35%, rgba(184, 19, 51, 1) 100%);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    padding: 60px 30px;
}

.input-group {
    width: 200px;
}

form .form-icons .input-group-field {
    border-color: black;
    padding-left: 10px;
}

.input-group-field {
    color: #ffffff;
    width: 80%;
    background-color: #121212;
    border: 2px solid;
    border-radius: 25px;
    margin-bottom: 8px;
}

form .form-icons .fa {
    width: 2rem;
    height: 30px;
    border-radius: 10%;
}

::placeholder {
    color: #ffffff;
}

.form-icons {
    padding-top: 5px;
    padding: 20px 20px;
}

.fa-user {
    color:#fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 18px;
}

.fa-envelope {
    color:#fff;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 8px;
}

.fa-key {
    color:#fff;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 8px;
}

.fa-phone {
    color:#fff;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 8px;
}

.fa-calendar {
    color:#fff;
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 8px;
}

.btn-group {
    margin-top: 30px;
    border-radius: 100px;
    font-family: 'Kanit';
    background: linear-gradient(0deg, rgba(136, 24, 51, 0.3), rgb(184, 19, 51, 0.9))
    
}

.btn {
    color: #ffffff;
    border-radius: 100px;
    width: 150px;
    font-family: 'Kanit';
    font-size: 15px;
    transition: background-color 0.5s;
}

.btn:hover {
    background: linear-gradient(0deg, rgb(184, 19, 51, 0.9),rgba(136, 24, 51, 0.3));
    transition: background-color 0.5s;
}

.danger { 
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    background-image: url(../../../assets/images/backgrounds/6d411c4be57f2683584635b73173ecb5.jpg);
    background-size: cover;
}

