.container {
    --light-color: #fff;
    margin-top: 160px;
    padding-top: 90px;
    height: 1000px;
    width: 350px;
    bottom: 50px;
    right: 10px;
    font-family: 'Kanit';    
    margin: auto;
}

.btn {
    border-radius: 100px;
    width: 150px;
    font-family: 'Kanit';
    color: rgba(255, 255, 255, 0.137);
}

.logo {
    border-radius: 100px;
    border-style: groove;
    border-color: #121212;
    width: 200px;
    height: 200px;
}

.text-center {
    background-color: #121212;
    font-family: 'Kanit';
}

.btn-rg {
    color: #ffffff;
    margin-top: 15px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(136, 24, 51, 0.3), rgb(184, 19, 51, 0.9));
    margin-bottom: 10px;
    border: 3px solid #212529;
}

form .form-icons {
    color: #ffffff;
    text-align: right;
    background: linear-gradient(90deg, rgb(35, 22, 151) 5%, rgb(189, 22, 255) 55%, rgb(255, 27, 236) 100%);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    padding: 60px 30px;
}

.input-group {
    width: 200px;
}

form .form-icons .input-group-field {
    border-color: black;
    padding-left: 10px;
}

.input-group-field {
    color: #ffffff;
    width: 80%;
    background-color: #121212;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 8px;
}

form .form-icons .fa {
    width: 2rem;
    height: 30px;
    border-radius: 10%;
}

::placeholder  {
    color: #646464;
}

.form-icons {
    padding-top: 5px;
    padding: 20px 20px;
}

.fa-user {
    color:#fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 18px;
}

.fa-envelope {
    color:#fff;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 8px;
}

.fa-key {
    color:#fff;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 8px;
}

.fa-phone {
    color:#fff;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 8px;
}

.fa-calendar {
    color:#fff;
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    background-image: url(../../../assets/images/backgrounds/rm251-aum-06-f_586x855.png);
    height: 855px;
    background-size: cover;
}

/* -------- */
.logo-text > h1 {
    font-size: 50px;
}

.logo-text {
    font-size: 40px;
    margin: 10px 10px 30px 10px;
    font-family: 'Chakra Petch', sans-serif;

    animation: flicker 1.5s infinite alternate;
    color: #fff;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 70% {

        text-shadow:
        0 0 4px rgb(255, 0, 234),
        0 0 11px rgba(38, 0, 253, 0.527),
        0 0 40px  rgba(172, 112, 253, 1.0),
        0 0 80px  rgba(172, 112, 253, 1.0),
        0 0 90px rgba(172, 112, 253, 1.0),
        0 0 100px rgba(172, 112, 253, 1.0);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        }    
}

.btn {
    color: #ffffff;
    border-radius: 10px;
    width: 130px;    
    font-family: 'Kanit';
    font-size: 16px;
    transition: background-color 1.0s;
    border: 3px solid rgba(10, 10, 10, 1.1);
    margin: 0 5px 0 5px 0;
    transition: all 500ms;
}

.btn:hover {
    box-shadow: 0px 0px 15px #5df4ff;
    transition: all 500ms;
}

.btn:hover {
    background: linear-gradient(0deg, rgb(187, 4, 172), rgb(66, 206, 248));
    transition: background-color 3,0s;
    color: #121212;
    box-shadow: #ffffff;
    border: 3px solid white;
}

.btn-group {
    border-radius: 15px;
    font-family: 'Kanit';
    background: linear-gradient(0deg, rgb(139, 1, 128), rgba(0, 150, 255, 1.0));
    position: relative;
    margin-top: 20px;
    
}

#palavra-geek {
    margin-top: -20px;
}

#genre-group {
    border-radius: 9px;
    
}

.dropdown-opts i {
    font-size: 20px;
    margin-left: -8px;
}

.dropdown-opts {
    float: left;
    margin: 0px 0px 0px 85px
}


