<head>
    <meta charset="utf-8" />
    <title>Tela de Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
</head>

<body class="text-center">
    <div class="container">
        
        <div class="animate__animated animate__jackInTheBox">
            <div class="black-box">
            </div>            
            <div class="logo-text"> <h1>PORTAL</h1><h1 id="palavra-geek">GEEK</h1>  </div>
        </div> 

        <form [formGroup]="form" class="animate__animated animate__flipInY">

            <div class="form-icons">

                <input class="input-group-field" type="text" placeholder="Nome completo" formControlName="name"><i
                    class="fa fa-user"></i>
                <br>
                <small class="danger" *ngIf="form.controls.name.invalid && !form.controls.email.pristine">
                    O nome deve conter de 3 a 90 caracteres
                </small>

                <input class="input-group-field" type="email" placeholder="E-mail" formControlName="email"><i
                    class="fa fa-envelope"></i>
                <br>
                <small class="danger" *ngIf="form.controls.email.invalid && !form.controls.email.pristine">
                    E-mail inválido, corrija!
                </small>

                <input class="input-group-field" type="password" placeholder="Senha" formControlName="password"><i
                    class="fa fa-key"></i>
                <br>
                <small class="danger" *ngIf="form.controls.password.invalid && !form.controls.password.pristine">
                    A senha deve conter de 9 a 18 caracteres.
                </small>

                <input class="input-group-field" type="password" placeholder="Repita a senha" formControlName="password_check">
                <i class="fa fa-key"></i>
                <small class="danger" *ngIf="form.controls.password == form.controls.password_check && !form.controls.password.pristine">
                    As senhas devem ser idênticas.
                </small>

                <input class="input-group-field" type="date" placeholder="Data de nascimento" formControlName="birth_date">
                <i class="fa fa-calendar"></i>

                <input class="input-group-field" type="number" placeholder="Celular" formControlName="phone" minlength="10" maxlength="11"><i
                    class="fa fa-phone"></i>
                <br>
                <small class="danger" *ngIf="form.controls.phone.invalid && !form.controls.phone.pristine">
                    O telefone deve ter de 10 a 11 dígitos!
                </small>
            </div>
        </form>

        <div class="btn-group animate__animated animate__fadeInUp" role="group" aria-label="Large button group">
            <button type="button" class="btn neonbutton btn-outline-dark" routerLink="/">
                Voltar
            </button>
            <button type="button" class="btn neonbutton btn-outline-dark" (click)="fazerCadastro()">
                Cadastrar
            </button>
        </div>
    </div>
</body>


