<body>
    
</body>
<div class="card-container animate__animated animate__faster animate__zoomIn">
    <div class="upper-container ">
        <div class="image-container">
            <img src="./../../../../assets/images/guy6.png" />

            <div>            
                <h4>Mussesan</h4>
            </div>
        </div>
    </div>
    <div class="lower-container">
        <div>
            <strong>Gênero de filme:</strong>
            <p>Fantasia, Ficção Científica e Ação</p>

            <strong>Gênero e musica favorita:</strong>
            <p>Eletrônica, Rock e Hip Hop / Killing Joke - Mass</p>

            <strong>Anime e Série:</strong>
            <p>Bleach / Mind Hunter</p>

            <strong>Super Herói:</strong>
            <p>Mercúrio - DC Comics</p>

            <strong>Hobbie:</strong>
            <p>MMORPG e Correr</p>

        </div>
        <div>
            <a class="btn" routerLink="/lay3">Voltar</a>
        </div>
</div>