<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">        
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
</head>

<body>
    <div class="container">

        <nav class="navbarcima">

            <table>
                <td>
                    <img id="icontable" src="/app/Icons/home.png" onclick="inicial()" />
                    <img id="icontable" src="/app/Icons/chat.png" onclick="chat()" />
                    <img id="icontable" src="/app/Icons/megaphone.png" onclick="eventos()" />
                    <img id="icontable" src="/app/Icons/cart.png" onclick="loja()" />
                    <img id="icontable" src="/app/Icons/extras.png" />
                </td>
            </table>

        </nav>
        <div class="row" id="preferencias">
            <div class="to_show">Rock</div>
            <div class=" to_show">Festas</div>
            <div class=" to_show">Cultos</div>
            <div class=" to_show">Futeboll</div>
            <div class=" to_show">Psicologa</div>
        </div>
        <img src="../../../assets/images/guy3.png" alt="cwt" id="imagem" />

        <div type="button" class="btn btn-dark pocentagemMatch" id="pocentagemMatch" data-toggle="modal"
            data-target="#exampleModal">
            99%
        </div>
        <button type="button" class="btn btn-dark criarAtividade">Visualizar perfil</button>
    </div>
</body>
