<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">        
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,800&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script data-require="jquery@*" data-semver="3.1.1"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="encontrarpessoas.component.js" defer></script>
    <title>Tela de atividades</title>
</head>

<body>
    <div class="container">

        <nav class="navbarcima">

            <table>
                <td>
                    <img id="icontable" src="/app/Icons/home.png" onclick="inicial()" />
                    <img id="icontable" src="/app/Icons/chat.png" onclick="chat()" />
                    <img id="icontable" src="/app/Icons/megaphone.png" onclick="eventos()" />
                    <img id="icontable" src="/app/Icons/cart.png" onclick="loja()" />
                    <img id="icontable" src="/app/Icons/extras.png" />
                </td>
            </table>

        </nav>
        <div class="row" id="preferencias">
            <div class="to_show">Rock</div>
            <div class=" to_show">Festas</div>
            <div class=" to_show">Cultos</div>
            <div class=" to_show">Futeboll</div>
            <div class=" to_show">Psicologa</div>
        </div>
        <img src="../../../assets/images/guy3.png" alt="cwt" id="imagem" />

        <div type="button" class="btn btn-dark pocentagemMatch" id="pocentagemMatch" data-toggle="modal"
            data-target="#exampleModal">
            99%
        </div>
        <button type="button" class="btn btn-dark criarAtividade">Visualizar perfil</button>
    </div>
</body>
