<body>
    
</body>
<div class="card-container animate__animated animate__faster animate__zoomIn">
    <div class="upper-container ">
        <div class="image-container">
            <img src="./../../../../../assets/images/girl10.png" />

            <div>            
                <h4>Rúbia Carvalho</h4>
            </div>
        </div>
    </div>
    <div class="lower-container">
        <div>
            <strong>Gênero de filme:</strong>
            <p>Ação, animação e ficção científica</p>

            <strong>Gênero e musica favorita:</strong>
            <p>Rock, Eletrônica / Foo Fighters - Wheels</p>

            <strong>Anime e Série:</strong>
            <p>Cavaleiros do Zodíaco, Bucky / X-Men</p>

            <strong>Super Herói:</strong>
            <p>Homem de Ferro</p>

            <strong>Hobbie:</strong>
            <p>Desenhar</p>

        </div>
        <div>
            <a class="btn" routerLink="/lay5">Voltar</a>
        </div>
</div>