<body>
    
</body>
<div class="card-container animate__animated animate__faster animate__zoomIn">
    <div class="upper-container ">
        <div class="image-container">
            <img src="./assets/images/guy1.png" />

            <div>            
                <h4>Edilberto Filho</h4>
            </div>
        </div>
    </div>
    <div class="lower-container">
        <div>
            <strong>Gênero de filme:</strong>
            <p>Ficção</p>

            <strong>Gênero e música favorita:</strong>
            <p>Rock / Pearl Jam - Black</p>

            <strong>Jogos e Série:</strong>
            <p>Warframe Online / The Walking Dead</p>

            <strong>Hobbies:</strong>
            <p>Ler e Programar</p>

        </div>
        <div>
            <a class="btn" routerLink="/lay5">Voltar</a>
        </div>
</div>