.container {
    --light-color: #fff;
    margin-top: 100px;
    height: 1000px;
    width: 350px;
    bottom: 50px;
    right: 10px;
    margin: auto;
}

.btn-group {
    border-radius: 100px;
    font-family: 'Kanit';
    background: linear-gradient(0deg, rgba(136, 24, 51, 0.3), rgb(184, 19, 51, 0.9))
}

.btn {
    color: #ffffff;
    border-radius: 100px;
    width: 150px;
    font-family: 'Kanit';
}

.logo {
    border-radius: 100px;
    border-style: groove;
    border-color: #121212;
    width: 200px;
    height: 200px;
}

.text-center {
    background-color: #121212;
    font-family: 'Kanit';
}

.input-group-field {
    padding-left: 20px;
    height: 40px;
    color: #ffffff;
    background-color: rgba(184, 19, 51, 1);
    border: 2px solid;
    border-radius: 25px;
}

::placeholder {
    color: #ffffff;
}


form .form-icons .fa {
    color: #ffffff;
    width: 1rem;
    padding-left: 10px;
}

.form-icons {
    padding-top: 5px;
    padding: 20px 20px;
}

.fa-envelope {
    padding-top: 10px;
    padding-right: 20px;
}

.fa-key {
    padding-top: 10px;
    padding-right: 20px;
}

.esqueceu-senha {
    color: white;
    padding: 10px 10px 10px 140px;
    font-size: 10px;
}

.relembrar {
    color: #ffffff;
    font-family: 'Kanit';
}

.btn-group {
    border-radius: 100px;
    font-family: 'Kanit';
    background: linear-gradient(0deg, rgba(136, 24, 51, 0.3), rgb(184, 19, 51, 0.9))
    
}

.btn {
    color: #ffffff;
    border-radius: 100px;
    width: 150px;
    font-family: 'Kanit';
    font-size: 15px;
    transition: background-color 0.5    s;
}

.btn:hover {
    background: linear-gradient(0deg, rgb(184, 19, 51, 0.9),rgba(136, 24, 51, 0.3));
    transition: background-color 0.5s;
}

.title-social-icons {
    color: #ffffff;
    font-size: 15px;
}

.divider {
    margin: 30px 10px 30px 10px;
    padding-top: 30px;
    border-top: 2px ridge rgba(255,255,255,0.2);
    
    color: #fff;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 15px;
    cursor: pointer;
}

.social-icons-group {
    padding-top: 30px;
    margin-top: 30px;
}