<head>
    <meta charset="utf-8" />
    <title>Tela de Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="login.component.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
</head>
<body class="text-center">
    <div class="container">
        <form>
            <img class="mb-4 logo" src="/app/Icons/logo.png" alt="" width="72" height="57" />
            <div class="form-icons">
                <div class="input-group">
                    <input class="input-group-field mb-2" type="text" placeholder="Email" />
                    <span class="input-group-label">
                        <i class="fa fa-envelope"></i>
                    </span>
                </div>
                <div class="input-group">
                    <input class="input-group-field mb-2" type="text" placeholder="Senha" />
                    <span class="input-group-label">
                        <i class="fa fa-key"></i>
                    </span>
                </div>

                <div><a href="#" class="esqueceu-senha">Esqueceu a senha</a></div>
            </div>

            <div class="checkbox mb-3">
                <label class="relembrar">
                    <input type="checkbox" value="remember-me" />
                    Relembrar
                </label>
            </div>
            <button type="submit" class="btn btn-dark btn-lg">Entrar</button>
            <div class="redessociais">
                <h1>Se conecte por</h1>
                <div class="traçocomeço"></div>
                <img src="/app/Icons/3225187_app_logo_media_popular_reddit_icon.png" class="iconereddit" />
                <img src="/app/Icons/3225191_app_instagram_logo_media_popular_icon.png" class="iconeinstagram" />
                <img src="/app/Icons/3225194_app_facebook_logo_media_popular_icon.png" class="iconefacebook" />
                <img src="/app/Icons/7123953_logo_google_g_icon.png" class="iconegmail" />
                <img src="/app/Icons/771365_circle_logo_media_network_social_icon.png" class="iconetwitter" />
                <div class="traçofinal"></div>
            </div>
        </form>
    </div>
</body>