body {
    height: 900px;
    margin: 0px;
    height: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-image: url('./../../../assets/images/backgrounds/nebulosapurple.jpg');
    background-size: cover
}

nav {
    height: 70px;
    background: rgba(0, 0, 0, 0);
}

nav>svg {
    color: #D9D9D9;
    font-size: 15px;
}

.container {
    height: 600px;
    width: 350px;    
    margin: auto;    
    scroll-behavior: smooth;
}

.profile-card h3{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px auto 0px auto;
}

.services-group {
    border: 3px groove white;
    border-radius: 15px;
    margin-left: 45px;
    width: 450px
}

/* kkkkk */

html,
body {
    margin-top: -61px;
    border-radius: 15px;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center
}
 /* ----- MENU - END ----- */

/* PERFIL - START */
.top-box {
    position: absolute;
    top: 130px;
    width: 500px;
    height: 700px;
    background-color: rgba(46, 46, 46, 0.705);

    border-radius: 15px;
}

.profile-card {
    width: 400px;
    height: 152px;
    border: rgba(106, 255, 0, 0) solid 1px;
    border-radius: 15px;

    display: flex;
}



.credit-add-button {

    display: flex;
    border: solid 3px #003950;
    width: 270px;
    padding: 10px 10px 10px 30px;
    height: 60px;

    position: absolute;
    bottom: 50px;
    left: 110px;
    
    border-radius: 10px;

    font-size: 19px;
    color: #fff;
    background: linear-gradient(0deg, #1c027a 0%, #be4eff  100%);
}

.credit-add-button:hover {
    background: linear-gradient(180deg, #e0c703 0%, #523e00  100%);    
    box-shadow: 0 0px 25px rgba(238, 255, 0, 0.718);
    cursor: pointer;
}

.credit-add-button:hover i {
    color:  #ffee00;
}

.credit-add-button i {
    font-size: 150%;
    color:  #ffffff;
    margin-left: 10px;
}

.big-service {
    background-color: #ffffffe8;
    width: 450px;
    height: 400px;
    margin: 0px auto 40px auto; 
    
    border: outset 3px rgba(255, 255, 255, 0.404);
    border-radius: 15px ;
}

.big-service h1 {
    color: black;
}

.big-service img {
    width: 200px;
    height: 200px;

    float: left;
}

.services {
    width: 60px;
    height: 60px;    

    background-color: #988600;
}

.grid-container {
    display: grid;
    justify-content: space-around;

    margin: 20px auto 20px auto;
}


.logo-text>h1 {
    font-size: 70px;
}

.logo-text {
    font-size: 40px;
    margin: 30px 10px 40px 10px;
    font-family: "Chakra Petch", sans-serif;
    animation: flicker 1.5s infinite alternate;
    color: rgb(255, 255, 255);
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    70% {
        text-shadow: 0 0 4px rgb(255, 0, 234), 0 0 11px rgba(38, 0, 253, 0.527),
            0 0 40px rgba(172, 112, 253, 1), 0 0 80px rgba(172, 112, 253, 1),
            0 0 90px rgba(172, 112, 253, 1), 0 0 100px rgba(172, 112, 253, 1);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

#palavra-geek {
    margin-top: -20px;
}

.desc .fa {
    color: #003950;
    font-size: 27px;

}

.desc img {
    width: 27px
}

.desc-group {
    margin-top: 60px;
}

.desc {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
    margin: 20px auto 20px auto;
    text-shadow: 10px 7px 7px #4d73f0;
    cursor: default;
}

.desc:hover {
    text-shadow: 0px 5px 5px  #e0c703;
}

#palavra-premium {
    color: rgb(255, 246, 124);
    margin-top: -15px;
    font-size: 35px;
}