<head>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600;700&family=Secular+One&display=swap" rel="stylesheet">
</head>
<body>
    <!-- ------ INICIO PROFILE ------ -->
    <div class="top-box chat1 animate__animated animate__zoomIn animate__faster">

        <div class="logo-text"> 
            <h1>PORTAL</h1>
            <h1 id="palavra-geek">GEEK</h1>
            <h2 id="palavra-premium">PREMIUM</h2>
        </div>

        <div class="big-service">
            <div class="desc-group">
                <div class="desc">
                    <i class="fa fa-users"></i>
                    Seja um Administrador de Grupos
                </div>

                <div class="desc">
                    <i class="fa fa-ban"></i>
                    Limpar Anúncios
                </div>

                <div class="desc">
                    <i class="fa fa-thumbs-up"></i>
                    Veja quem curtiu você
                </div>

                <div class="desc">
                    <i class="fa fa-palette"></i>
                    Personalizações ilimitadas
                </div>
            </div>
        </div>

        <span class="credit-add-button">             
            <p>Comprar Premium Já!</p>
            <i class="fa fa-dollar"></i>
        </span>

        <div class="grid-container">



            


        </div>


    </div>


</body>