<head>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600;700&family=Secular+One&display=swap" rel="stylesheet">
</head>
<body>
    <!-- ------ INICIO PROFILE ------ -->
    <div class="top-box chat1 animate__animated animate__zoomIn animate__faster">

        <div class="logo-text"> 
            <h1>PORTAL</h1>
            <h1 id="palavra-geek">GEEK</h1>
            <h2 id="palavra-premium">PREMIUM</h2>
        </div>

        <div class="big-service">

            Administrador de Grupos,
            Limpar Anuncios, 
            Veja quem curtiu você, 
            Conexões ilimitadas,
            






        </div>

        <span class="credit-add-button">             
            <p>Comprar Premium</p>
            <i class="fa fa-dollar"></i>
        </span>

        <div class="grid-container">



            


        </div>


    </div>


</body>