<body>
    <!-- ------ INICIO PROFILE ------ -->
    <div class="top-box chat1 animate__animated animate__zoomIn animate__faster">

        <div class="big-service">

            <img src="../../../assets/images/discount.png" alt="">
            <h1>PREMIUM</h1>

        </div>

        <div class="grid-container">
            
            <div class="services grid-item">
                No ads
            </div>

            <div class="services grid-item">
                +1 Match
            </div>

            <div class="services grid-item">
                Camisetas
            </div>

            <div class="services grid-item">
                Boné
        </div>

        </div>

        <span class="credit-add-button">             
            <p>Adicionar Créditos</p>
            <i class="fa fa-plus-circle"></i>
        </span>
    </div>


</body>