<div class="card-container">
    <div class="upper-container">
        <div class="image-container">
            <img src="./../../../../../assets/images/girl3.jpeg" />
        </div>
    </div>
    <div class="lower-container">
        <div>            
            <h4>Jackie de Oliveira</h4>
        </div>
        <div>
            <p>Apaixonada pela saga Harry Potter e por Coelhos. Adoro açaí com banana e só um pouquinho de leite ninho. 
            </p>

        </div>
        <div>
            <a  class="btn" routerLink="/profile4">Ver perfil</a>
            <a  class="btn" routerLink="/lay5">Próximo Geek</a>
        </div>
        <div class="action-buttons">
            <a  class="btn"><i class="fa fa-user-plus"></i></a>
            <a  class="btn"><i class="fa fa-comments"></i></a>
            <a  class="btn"><i class="fa fa-heart"></i></a>
            <a  class="btn"><i class="fa fa-gamepad"></i></a>
            
        </div>
</div>
