<div class="card-container">
    <div class="upper-container">
        <div class="image-container">
            <img src="./../../../../../assets/images/girl10.png" />
        </div>
    </div>
    <div class="lower-container">
        <div>            
            <h4>Maria da Silva</h4>
        </div>
        <div>
            <p>Procuro pessoas afim de discutir sobre a última temporada de GoT (Game of Thrones). Adoro gatos, Pink Floyd e um bom cafézinho.
            </p>

        </div>
        <div>
            <a href="#" class="btn">Ver perfil</a>
            <a href="#" class="btn" routerLink="/lay5">Próximo Geek</a>
        </div>
        <div class="action-buttons">
            <a href="#" class="btn"><i class="fa fa-user-plus"></i></a>
            <a href="#" class="btn"><i class="fa fa-comments"></i></a>
            <a href="#" class="btn"><i class="fa fa-heart"></i></a>
            <a href="#" class="btn"><i class="fa fa-gamepad"></i></a>
            
        </div>
</div>
