<div class="card-container">
    <div class="upper-container">
        <div class="image-container">
            <img src="./../../../../assets/images/guy6.png" />
        </div>
    </div>
    <div class="lower-container">
        <div>            
            <h4>Mussesan</h4>
        </div>
        <div>
            <p>A procura de um DUO para partidas ranqueadas de World of Warcraft e que possa discutir sobre a complexidade da série Mind Hunter.
            </p>

        </div>
        <div>
            <a  class="btn" routerLink="/profile3">Ver perfil</a>
            <a  class="btn" routerLink="/lay4">Próximo Geek</a>
        </div>
        <div class="action-buttons">
            <a  class="btn"><i class="fa fa-user-plus"></i></a>
            <a  class="btn"><i class="fa fa-comments"></i></a>
            <a  class="btn"><i class="fa fa-heart"></i></a>
            <a  class="btn"><i class="fa fa-gamepad"></i></a>
            
        </div>
</div>